
$bg-gray: #eaebec;
$main-green: #61a87f;
$main-text-gray: #323232;
$white: #ffffff;
$almost-white: #f3f3f3f3;
$main-button-green: #a5f082;
$main-button-green-disabled: #b8eba1;
$dark-gray: #414141;

