@import '../../assets/scss/variables.scss';

.error {
  height: 100vh;
  background: #923939ec;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  color: $bg-gray;
  font-size: 1.3em;

  svg {
    margin-bottom: 10px;
    font-size: 4em;
  }
}
